In [188]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [189]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [190]:
#Total number of schools
school_total = school_data_complete_df ["school_name"].nunique()

#Total number of students

total_Students = school_data_complete_df ["Student ID"].count()

##Remember to calculate the total_budget
total_budget = school_data ["budget"].sum()

# Average math score
average_math = school_data_complete_df["math_score"].mean()

#Average reading score
average_reading = school_data_complete_df["reading_score"].mean()

In [191]:
#Percentage of students with a passing math score (70 or greater)
math_over_70 = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70)]

count_math_pass = math_over_70["math_score"].count()

math_per_pass = (count_math_pass/total_Students) * 100

math_per_pass

74.9808526933878

In [192]:
#Percentage of students with a passing reading score (70 or greater)
reading_over_70 = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70)]

count_reading_pass = reading_over_70["reading_score"].count()

reading_per_pass = (count_reading_pass/total_Students ) * 100

reading_per_pass

85.80546336482001

In [193]:
#Percentage of students who passed math **and** reading (% Overall Passing)

overall_passing = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)] 

overal_total = overall_passing["reading_score"].count()

overall_passing = (overal_total/total_Students) * 100 

overall_passing

65.17232575950983

In [198]:
#Dataframe to hold the above results
distirct_summary = {"Total Schools": school_total,
                                "Total Students": total_Students,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math,
                                "Average Reading Score": average_reading,
                                "% Passing Math": math_per_pass,
                                "% Passing Reading": reading_per_pass,
                                "% Overall Passing": overall_passing}



distirct_summary_df =pd.DataFrame([school_summary])


distirct_summary_df = distirct_summary_df[["Total Schools",
                   "Total Students","Total Budget","Average Math Score", "Average Reading Score",
                   "% Passing Math", "% Passing Reading", "% Overall Passing" ]]

distirct_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [273]:
#Metric for school summary
school_group = school_data_complete_df.groupby(["school_name"])

school_group

In [274]:
#School types
school_type = school_data["type"]

In [275]:
#Total Students per school
total_students = school_group["Student ID"].count ()

In [280]:
#Total School Budget
total_school_budget = school_group["budget"].mean ()

In [286]:
#Per Student Budget
per_student_budget = total_school_budget/total_students

In [294]:
#Average Math Score
avr_math_score = school_group["math_score"].mean()

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [289]:
#Average Reading Score
avr_reading_score = school_group["reading_score"].mean()

In [295]:
# % Passing Math
math_over_70 = school_group[(school_group["math_score"] >= 70)]

math_count = math_over_70. count ()

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'

In [ ]:
count_reading_pass = reading_over_70["math_score"].count()

per_pass_math = (count_reading_pass/total_Students ) * 100

per_pass_math