In [304]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [305]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [306]:
#Total number of schools
school_total = school_data_complete_df ["school_name"].nunique()

#Total number of students

total_Students = school_data_complete_df ["Student ID"].count()

##Remember to calculate the total_budget
total_budget = school_data ["budget"].sum()

# Average math score
average_math = school_data_complete_df["math_score"].mean()

#Average reading score
average_reading = school_data_complete_df["reading_score"].mean()

In [307]:
#Percentage of students with a passing math score (70 or greater)
math_over_70 = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70)]

count_math_pass = math_over_70["math_score"].count()

math_per_pass = (count_math_pass/total_Students) * 100

math_per_pass

74.9808526933878

In [308]:
#Percentage of students with a passing reading score (70 or greater)
reading_over_70 = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70)]

count_reading_pass = reading_over_70["reading_score"].count()

reading_per_pass = (count_reading_pass/total_Students ) * 100

reading_per_pass

85.80546336482001

In [353]:
#Percentage of students who passed math **and** reading (% Overall Passing)

overall_pass = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)] 

overal_total = overall_pass["reading_score"].count()

overall_passing = (overal_total/total_Students) * 100 

overall_passing

65.17232575950983

In [310]:
#Dataframe to hold the above results
distirct_summary = {"Total Schools": school_total,
                                "Total Students": total_Students,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math,
                                "Average Reading Score": average_reading,
                                "% Passing Math": math_per_pass,
                                "% Passing Reading": reading_per_pass,
                                "% Overall Passing": overall_passing}



distirct_summary_df =pd.DataFrame([school_summary])


distirct_summary_df = distirct_summary_df[["Total Schools",
                   "Total Students","Total Budget","Average Math Score", "Average Reading Score",
                   "% Passing Math", "% Passing Reading", "% Overall Passing" ]]

distirct_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [311]:
#Metric for school summary
school_group = school_data_complete_df.groupby(["school_name"])

school_group

In [312]:
#School types
school_type = school_data["type"]

In [338]:
#Total Students per school
total_students = school_group["Student ID"].count ()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [314]:
#Total School Budget
total_school_budget = school_group["budget"].mean ()

In [315]:
#Per Student Budget
per_student_budget = total_school_budget/total_students

In [316]:
#Average Math Score
avr_math_score = school_group["math_score"].mean()

In [317]:
#Average Reading Score
avr_reading_score = school_group["reading_score"].mean()

In [350]:
# % Passing Math. We are using the original dataframe to locate the passing scores
math_over_70 = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70)]

math_count = math_over_70.groupby(["school_name"])["math_score"].count()


per_pass_math = (math_count/total_students) *100

In [351]:
# % Passing Reading. We are using the original dataframe to locate the passing scores
reading_over_70 = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70)]

reading_count = reading_over_70.groupby(["school_name"])["reading_score"].count()
per_pass_reading = (reading_count/total_students) *100

In [ ]:
#Here we are calculating the Overall Passing (The percentage of students that passed math and reading)
pass_total = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70)] & school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70)]

In [ ]:
pass_total = merged_df[(merged_df["math_score"] >= 70) & (merged_df"reading_score" >= 70)]

groupby('school')['Student ID'].count()/stu_per_sch